* {
    font-family: 'Nunito';
}
nav {
    text-align: right;
    padding-bottom: 2em;
}
header{
    text-align: center;
}
header, main, nav {
    max-width: 400px;
    margin: 0px auto;
}
a {
    text-decoration: none;
}
header a {
    color: black;
}
#contact svg {
    width: 50px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 2em 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#calendar {
    text-align: center;
}