<div title="Merken" class="addeventatc">
    {% if page.url == "/" %}Termin speichern!{% else %}Save the date!{% endif %}
    <span class="start">10/23/2019 06:45 PM</span>
    <span class="end">10/23/2019 08:45 PM</span>
    <span class="timezone">Europe/Berlin</span>
    <span class="title">Debattieren</span>
    <span class="description">Debatte der Konstanzer Kontroverse</span>
    <span class="location">A702, Uni Konstanz</span>
    <span class="alarm_reminder">600</span>
    <span class="recurring">FREQ=WEEKLY;INTERVAL=1;COUNT=15</span>
    <span class="calname">event_koko</span>
</div>